
*{ 
margin: 0; 
}

.homepage-hero-module {
    border: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster ,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: visible;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    top: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 1;
    top: 0;
}
.video-container video.fillWidth {
    width: 100%;
}


body {
    height: 6000px;
    font-family: Roboto, Light;
    font-size: 14px;
}

#top-menu {
    position: fixed;
    z-index: 10000;
    background: white;
    left: 0;
    right: 0;
    top: 0;
}

#top-menu li {
    float: left;
    margin-left: 10%;
}

.text-bar {
    padding: 30px 0px 0 0;
}

#top-menu a {
    display: block;
    padding: 10px 8% 30px 25%;
    color: #666;
    text-decoration: none;
}

#top-menu a:hover {
    color: #000;
}


#home {
    position: absolute;
    top: 680px;
}

#foo {
    position: absolute;
    top: 720px;
}

#bar {
    position: absolute;
    top: 800px;
}

#baz {
    position: absolute;
    top: 1200px;
}


.button {
    position: absolute;
    z-index: 999;
    font-family: Roboto, Thin;
    font-size: 14pt;
}

.block-header {
    font-family: Roboto, Thin;
    font-size: 14pt;
}
.block1-text {
    padding-right: 350px;
}


.block1 {
    margin-left: 14%;
    color: #666;
    font-family: Roboto, Light;
    position: absolute;
    z-index: 999;
    top: 780px;
    width: 55%; 
    background: white;
    padding: 50px 70px 50px 70px;
    float: left;
}







